# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# Project specific
data/
data_raw/
*.db
*.sqlite3
*.log

# Poetry
poetry.lock

# Coverage reports
.coverage
htmlcov/

# mypy
.mypy_cache/

# pytest
.pytest_cache/ 